<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="startId" value="1"/>
    <add key="newpostIdforexp" value="212"/>
    <add key="newpostIdforfre" value="213"/>
    <add key="subjectNameforexp" value="Diploma / Certificate course of one year duration in Translation from English to Hindi and vice-versa"/>
    <add key="loginLinkNew" value="https://hindustancopper.com/Recruitment/candidateLogin"/>
    <add key="forgetPasswordNew" value="https://hindustancopper.com/Recruitment/SetPassword"/>
    <add key="forgetPassword1" value="https://hindustancopper.com/ITIApplication/SetPassword"/>
    <add key="forgetPassword1New" value="https://hindustancopper.com/ITIApplicationNew/SetPassword"/>
    <add key="loginLink" value="http://localhost:3597/RecruitmentCareer/candidateLogin"/>
    <add key="ITIloginLink" value="http://localhost:3597/ITIApplication/login"/>
    <add key="ITIloginLinkNew" value="http://localhost:3597/ITIApplicationNew/login"/>
    <add key="forgetPassword" value="http://localhost:3597/RecruitmentCareer/SetPassword"/>
    <!--1Backup Keys of Previous payment gateway-->
    <!--<add key="MERCHANT_KEY" value="QylhKRVd" />
    <add key="SALT" value="seVTUgzrgE" />
    <add key="PAYU_BASE_URL" value="https://sandboxsecure.payu.in/_payment" />-->
    <!--2Backup Keys of Previous payment gateway-->
    <!--<add key="MERCHANT_KEY" value="LDKLkg3W" />
    <add key="SALT" value="mfiuQaHUnH" />
    <add key="PAYU_BASE_URL" value="https://secure.payu.in/_payment" />-->
    <add key="MERCHANT_KEY" value="7GAuCS"/>
    <add key="MERCHANT_KEY_104" value="55lpfF"/>
    <add key="SALT" value="W80VBMWFW4wUBhrTYYf9Tq9Ex1c27iJP"/>
    <add key="SALT_104" value="O5T2XxuVHmFrDI1ABuB3PtjD0mPUuLpn"/>
    <add key="PAYU_BASE_URL" value="https://secure.payu.in/_payment"/>
    <add key="action" value=""/>
    <add key="hashSequence" value="key|txnid|amount|productinfo|firstname|email|udf1|udf2|udf3|udf4|udf5|udf6|udf7|udf8|udf9|udf10"/>
    <!-- Localhost-->
    <!--<add key="surl" value="http://localhost:26162/Recruitment/Success" />
    <add key="furl" value="http://localhost:26162/Recruitment/Failed" />
    <add key="curl" value="http://localhost:26162/Recruitment/PayOnline" />-->
    <!-- Production-->
    <add key="surl" value="https://hindustancopper.com/Recruitment/Success"/>
    <add key="furl" value="https://hindustancopper.com/Recruitment/Failed"/>
    <add key="curl" value="https://hindustancopper.com/Recruitment/PayOnline"/>
    <!--Backup of latest live Payment Gateway(12-12-2022)-->
    <!-- <add key="MERCHANT_KEY" value="T6slPe" />
      <add key="SALT" value="xGLsVGI3LHboLCR4HTkU1ASc9LYCzt3f" />
      <add key="PAYU_BASE_URL" value="https://secure.payu.in/_payment" />-->
    <!-- UAT-->
    <add key="surl" value="https://hcl.infoneotech.com/Recruitment/Success"/>
    <add key="furl" value="https://hcl.infoneotech.com/Recruitment/Failed"/>
    <add key="curl" value="https://hcl.infoneotech.com/Recruitment/PayOnline"/>
    <add key="Domain" value="https://hindustancopper.com/"/>
    <add key="MinAge_Adv109" value="18"/>
    <add key="MaxAge_Adv109" value="28"/>
  </appSettings>
  <connectionStrings>
    <add name="HclEntities" connectionString="Data Source=103.253.125.144,5000;Initial Catalog=demoHCL;User ID=hindustancopperlimited;Password=7y0CVJg9" providerName="System.Data.SqlClient"/>
    <!--Production Server-->
    <!--<add name="HclEntities" connectionString="Data Source=103.253.125.144,5000;Initial Catalog=hindustancopperlimited;User ID=hindustancopperlimited;Password=7y0CVJg9" providerName="System.Data.SqlClient" />-->
    <!--<add name="HclEntities" connectionString="Data Source=Sqlplesk4.securehostdns.com,1533;Initial Catalog=Hindustancopperlimited;User ID=hcluser;Password=Dfshcl#123" providerName="System.Data.SqlClient" />-->
    <!--<add name="HclEntities" connectionString="Data Source=127.0.0.1;Initial Catalog=hindcopper;User ID=hindcopper;Password=82GnczPmHK5S" providerName="System.Data.SqlClient" />-->
    <!--<add name="HclEntities" connectionString="Data Source=127.0.0.1;Initial Catalog=hindustancopperlimited;User ID=hindustancopperlimited;Password=7y0CVJg9" providerName="System.Data.SqlClient" />-->
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <globalization culture="en-GB" uiCulture="en-GB"/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <customErrors mode="Off"/>
    <!--<customErrors mode="On" defaultRedirect="Error.cshtml" />-->
    <!--<customErrors mode="On">
      <error statusCode="403" redirect="~/Error/Forbidden" />
      <error statusCode="404" redirect="~/Error/NotFound" />
    </customErrors>-->
    <httpRuntime maxRequestLength="2097151"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2097151"/>
        <!--40MB-->
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>