<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
<add key="startDate" value="20/08/2020" />
    <add key="endDate" value="31/08/2020" />

	  <add key="loginLinkNew" value="https://hindustancopper.com/Recruitment/candidateLogin" />
	  <add key="forgetPasswordNew" value="https://hindustancopper.com/Recruitment/SetPassword" />
	  
	  <add key="loginLink" value="https://hindustancopper.com/RecruitmentCareer/candidateLogin" />
	  <add key="forgetPassword" value="https://hindustancopper.com/RecruitmentCareer/SetPassword" />
	  <add key="ITIloginLink" value="https://hindustancopper.com/ITIApplication/login" />
	  <!--<add key="MERCHANT_KEY" value="QylhKRVd" />
	  <add key="SALT" value="seVTUgzrgE" />
	  <add key="PAYU_BASE_URL" value="https://sandboxsecure.payu.in/_payment" />-->

	  <add key="MERCHANT_KEY" value="LDKLkg3W" />
    <add key="SALT" value="mfiuQaHUnH" />
    <add key="PAYU_BASE_URL" value="https://secure.payu.in/_payment" />
	  
	  <add key="action" value="" />
	  <add key="hashSequence" value="key|txnid|amount|productinfo|firstname|email|udf1|udf2|udf3|udf4|udf5|udf6|udf7|udf8|udf9|udf10" />
	  <add key="surl" value="https://hindustancopper.com/Recruitment/Success" />
	  <add key="furl" value="https://hindustancopper.com/Recruitment/Failed" />
	  <add key="curl" value="https://hindustancopper.com/Recruitment/PayOnline" />
	  
	  <add key="GraduateloginLink" value="https://hindustancopper.com/GraduateApprentice/login" />
    <add key="forgetPasswordGraduate" value="https://hindustancopper.com/GraduateApprentice/SetPassword" />
	  
	  <add key="startId" value="52689" />
	  <add key="newpostIdforexp" value="212" />
      <add key="newpostIdforfre" value="213" />
	  <add key="subjectNameforexp" value="Diploma / Certificate course of one year duration in Translation from English to Hindi and vice-versa" />
	 
	  
	  
  </appSettings>
  
  <connectionStrings>
    <!--<add name="HclEntities" connectionString="Data Source=Sqlplesk4.securehostdns.com,1533;Initial Catalog=Hindustancopperlimited;User ID=hcluser;Password=Dfshcl#123" providerName="System.Data.SqlClient" />-->
    <!--<add name="HclEntities" connectionString="Data Source=127.0.0.1;Initial Catalog=hindcopper;User ID=hindcopper;Password=82GnczPmHK5S" providerName="System.Data.SqlClient" />-->
	  <add name="HclEntities" connectionString="Data Source=127.0.0.1;Initial Catalog=hindustancopperlimited;User ID=hindustancopperlimited;Password=7y0CVJg9" providerName="System.Data.SqlClient" />
	  
	  <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
    
  </connectionStrings>
	<system.web>
		<sessionState timeout="60"></sessionState>
		<customErrors mode="Off">
		</customErrors>
		
		
		<!--<customErrors mode="On">
			<error statusCode="404" redirect="~/Error/NotFound" />
			<error statusCode="403" redirect="~/Error/NotFound" />
		</customErrors>-->
		
		<!--<sessionState mode="SQLServer" sqlConnectionString="data source=45.35.169.104, 1092;initial catalog=HWHDHFWS2000;uid=HWHDHFWS2000;pwd=HDfs#123;Pooling=true;Min Pool Size=20; Max Pool Size=200;Connection Timeout=200" cookieless="false" allowCustomSqlDatabase="true"></sessionState>-->
		<!--<compilation debug="true" targetFramework="4.0" />-->
		<compilation debug="false" />
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
		<httpRuntime maxRequestLength="15728640" />
		<globalization culture="en-GB" uiCulture="en-GB" />
	</system.web>



	<system.webServer>
		<security>
			<requestFiltering>
				<!--<requestLimits maxAllowedContentLength="1048576" maxUrl="1048576" maxQueryString="1048576" />-->
				<!--<requestLimits maxAllowedContentLength="1048576" maxUrl="2048" maxQueryString="1024" />-->
				<requestLimits maxAllowedContentLength="314572800" />
                <!--<verbs allowUnlisted="true">
                    <add verb="Options" allowed="false" />
                </verbs>-->

				<verbs allowUnlisted="false">
					<add verb="GET" allowed="true" />
					<add verb="POST" allowed="true" />
					<add verb="HEAD" allowed="true" />
				</verbs>

			</requestFiltering>
		</security>

		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true" />
		<handlers>
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<defaultDocument enabled="true">
			<files>
				<clear />
				<add value="Index.html" />
				<add value="Index.htm" />
				<add value="Index.shtml" />
				<add value="Index.cfm" />
				<add value="Index.shtm" />
				<add value="Index.stm" />
				<add value="Index.php" />
				<add value="Index.php3" />
				<add value="Index.asp" />
				<add value="Index.aspx" />
				<add value="Default.htm" />
				<add value="Default.asp" />
				<add value="Default.aspx" />
			</files>
		</defaultDocument>
		<httpErrors>
			<remove statusCode="404" subStatusCode="-1" />
			<remove statusCode="403" subStatusCode="-1" />
			<error statusCode="403" prefixLanguageFilePath="" path="http://hindustancopper.com/" responseMode="Redirect" />
			<error statusCode="404" prefixLanguageFilePath="" path="http://hindustancopper.com/" responseMode="Redirect" />
		</httpErrors>
        <staticContent>
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="SSL Redirect" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="OFF" />
                        <add input="{HTTP_IS_SITEPREVIEW}" pattern="1" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
                </rule>
            </rules>
        </rewrite>
		
		<httpProtocol>
			<customHeaders>
				<!--<add name="X-Frame-Options" value="DENY" />-->
			</customHeaders>
		</httpProtocol>
		
		
		<!--<httpProtocol>
			<customHeaders>
				<add name="X-Frame-Options" value="DENY" />
				<remove name="X-Powered-By" />
				<remove name="X-AspNet-Version" />
				<remove name="X-AspNetMvc-Version" />
				<remove name="X-Content-Type-Options" />
				<add name="X-Content-Type-Options" value="nosniff" />
				<add name="X-XSS-Protection" value="1;mode=block" />
				<add name="Content-Security-Policy" value="Script-src ‘self’" />

			</customHeaders>

		</httpProtocol>-->

	</system.webServer>
</configuration>