@charset "utf-8";
/* CSS Document */
body,html{
  overflow-x:hidden;
}
body {
/*font-family: 'Merriweather', serif;*/
font-family:'Open Sans',sans-serif;
overflow-x: hidden !important;
margin:0px;
}
.clearhcl{
	clear:both;
}
.headerHCL{
	width:100%;
	margin:0 auto;
	position:fixed;
	background-color:#fff;
	z-index:999999999;
	min-height:150px;
}
.wrapHCL{
	width:90%;
	margin:0 auto;
}
.topBarHcl{
	width:100%;
	background-color:#1c1d21;
}
#topBarHclHedT{
	font-size:24px;
	font-family: 'Open Sans',sans-serif;
	font-weight:600;
	padding-left:5%;
	margin:9px 0;
    display: inline-block;
    color: #6f3706;
}
#topBarHclText{
	font-size:12px;
	font-family: 'Open Sans',sans-serif;
	padding-left:5%;
	margin:9px 0;
    display: inline-block;
    color: #ccc;
}
#topBarHcl a{
	font-size:12px;
	font-family: 'Open Sans',sans-serif;
	padding: 4px 0;
    display: inline-block;
    color: #ccc;
}
.topBarHcl2{
	width:100%;
	float:left;
	margin:0 auto;
	background-color:#fff;
	padding:0;
}
.topBarHcl2 img{
	width:75%;
	padding:12px 0 10px 0;
}
.topBarHcl2left{
	width:40%;
	float:left;
}
.topBarHcl2right{
	width:60%;
	float:left;
}