body { margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; text-align:justify;}
h1, h2, h3 { margin:0; padding:0;}
.BorderArea { width:768px; border:#6f3706 solid 2px; margin:auto; margin-bottom:10px;}
.printArea {padding:0px 10px;}
.printArea.content{padding:8% 12% 0px 12%;}
.header {  margin-bottom:20px;}
.paging {text-align: right; padding-right:10px; font-size: 12px; padding-bottom: 10px;}
.footer {padding: 5px 0 20px 0;border-top: solid 2px #dcdcdc;}
.printPanel {}
.printPanel h2 {font-size:20px; line-height: 20px; font-weight:bold; text-align:center; margin-bottom:10px; padding-top:15px;}
.printPanel h2 span{font-size:14px;}
.printPanel h2 small{font-size:12px;}
.entranceName { padding:10px; text-align:center; border:1px solid #000; margin-bottom:10px; font-weight:bold; font-size:18px;}
.border { border:1px solid #000; padding:5px; text-align:center;}
.tblborder { border:1px solid #000; border-collapse:collapse; padding:3px;}
.tblborder td {border:1px solid #000; border-collapse:collapse; padding:3px;}
.printPanel ul, .printPanel ol{ margin:10px 0 0 20px; padding:0;}
.printPanel ul li, .printPanel ol li { padding-bottom:10px; font-size:12px;} 
.printPanel ul li { list-style-type:circle;}
.instruction { text-align:center; font-size:16px; font-weight:bold; text-align:center; border-bottom:1px solid #000; padding:5px; margin:2px;}
.logo { position:absolute;}
.pagingLbl { display:none!important;}
p.minHt { height:0px!important; display:none!important;}
p.minHt div { height:0px!important; display:none!important;}
.top-border{border-top:1px solid #000;}
.bottom-table{margin-top:70px;}
.bottom-table td{padding:5px;}
.ppSign{width:100px; height:100px; padding-top: 30px; border:#000 solid 1px; text-align:center;}
.list-item li{margin-bottom:20px;}
@media print {
body {font-size: 15px;}
.BorderArea {border:0px;}
.printArea {border:0px; padding:0px; margin-bottom:0px;}
.printPanel { padding:10px;}
.entranceName {line-height:30px}
.pagingLbl { text-align:right; color:#333333; font-size:13px; font-weight:bold; display:block!important;}
p.minHt { min-height:30px!important; display:block!important;}
p.minHt div { display:block!important;}
.footer {margin-top: 0px;}
.paging {text-align: right; padding-right:10px; font-size: 12px; bottom: 10px;}
}