.clear {
	clear: both;
}

#totalCol {
  display: inline;
  float: left;
  padding: 30px 0 30px 0;
  width: 100%;
}

.wrap{
	width:90%;
	margin:0 auto;
	transition:all .2s linear;
	-moz-transition:all .2s linear;/* firefox */
	-webkit-transition:all .2s linear; /* safari and chrome */
	-o-transition:all .2s linear; /* opera */
	-ms-transition:all .2s linear;
 }
.colleft{
	width:20%;
	float:left;
}
.colmidl{
	width:78%;
	float:left;
	padding-left:2%;
	padding-bottom:5%;
}
.colmidlA{
	width:100%;
	float:left;
	background:#e5dcc8;
}
.colmidlA_col1{
	width:33.333333%;
	float:left;
	padding-top:2%;
	padding-bottom:2%;
}
.colmidlA_col2{
	width:33.333333%;
	float:left;
	padding-top:2%;
	padding-bottom:2%;
}

.colmidlA_col1_pic{
	width:88%;
	margin:0 auto;
	background:#d6bea1;
	text-align:center;
	min-height: 375px;
	border: #d3b085 solid 10px;
	position: relative;
}

	.colmidlA_col1_pic:before {
		width: 0;
		height: 0;
		border-bottom: 80px solid #9f2221;
		border-left: 80px solid transparent;
		position: absolute;
		right: 0;
		bottom: 0;
		content: "";
		z-index: 99;
	}

.colmidlA_col1_pic {
	width: 88%;
	margin: 0 auto;
	background: #d6bea1;
	text-align: center;
	min-height: 375px;
	border: #d3b085 solid 10px;
	position: relative;
}

	.colmidlA_col1_pic:before {
		width: 0;
		height: 0;
		border-bottom: 80px solid #9f2221;
		border-left: 80px solid transparent;
		position: absolute;
		right: 0;
		bottom: 0;
		content: "";
		z-index: 1;
	}

	.colmidlA_col1_pic .btn-container {
		position: absolute;
		bottom: 15px; /* Adjust the positioning as needed */
		right: 15px; /* Adjust the positioning as needed */
		z-index: 100;
	}

.btn-container img {
	width: 19px !important;
	cursor: pointer;
}

.colmidlA_col1_pic .btn-container button {
	background-color: #9f2221;
	color: white;
	border: none;
	padding: 10px 5px;
	cursor: pointer;
	font-size: 16px;
	border-radius: 5px;
}

	.colmidlA_col1_pic .btn-container button:hover {
		background-color: #7a1a1a;
	}

.modal {
	display: none;
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
	padding-top: 60px;
}

.modal-content h3 {
	padding: 15px !important;
	border-bottom: 1px solid #e5e5e5 !important;
	color: #9f1f15;
	font-family: DINPro-Bold;
	font-size: 23px;
	line-height: 1px;
}

.modal-content {
	background-color: rgba(255, 255, 255, .9);
	margin: 5% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

	.modal-content p {
		font-family: 'Open Sans', sans-serif;
		font-size: 15px;
		line-height: 24px;
		color: #1f1f1f;
		text-align: justify;
		position: relative;
	}


.close {
	color: black;
	float: right;
	font-size: 28px;
	font-weight: bold;
}


.colmidlA_col1_pic h3 {
	font-family: 'Open Sans',sans-serif;
	font-size: 14px;
	font-weight:600;
	line-height: 1.0;
	text-align:center;
	color: #4d070f;
}
.colmidlA_col1_pic p{
	font-family: 'Open Sans',sans-serif;
	font-size: 13px;
	line-height: 1.4;
	text-align:center;
	color: #333;
	padding-bottom:4%;
}
.colmidlA_col1_pic img{
	width:50%;
	margin: 6% auto;
	margin-bottom:0.8%;
	text-align:center;
	border: #680000 solid 1px;
}
.col1of2{
	width:47%;
	float:left;
	border:#930 solid 1px;
}
.col1of2R{
	width:47%;
	float:left;
	margin-left:5%;
	border:#930 solid 1px;
}
#col1of2nb{
	width:47%;
	float:left;
}
#col1of2nbR{
	width:47%;
	float:left;
	margin-left:5%;
}
#col1of2nb ul{
	list-style: none;
	list-style-type:none;
	font-size: 13px;
	color:#a34500;
	padding-left:10px;
	margin-left:8px;
}
#col1of2nbR ul{
	list-style: none;
	list-style-type:none;
	padding-left:10px;
	margin-left:8px;
}
#col1of2nb ul li:before {
		content: "\00BB \0020";
		font-size: 18px;
		color:#a34500;
	     }
#col1of2nb ul li a{
	font-family: 'Open Sans',sans-serif;
	font-size: 14px;
	color:#333;
	line-height:30px;
}
#col1of2nbR ul li:before {
		content: "\00BB \0020";
		font-size: 18px;
		color:#a34500;
	     }
#col1of2nbR ul li a{
	font-family: 'Open Sans',sans-serif;
	font-size: 14px;
	color:#333;
	line-height:30px;
}
.col1of3nb{
	width:75%;
	float:left;
}
.col1of3nbR{
	width:20%;
	float:left;
	margin-left:5%;
}
.col1of3nbp{
	font-family: 'Open Sans',sans-serif;
	font-size: 12px;
	color:#000;
	padding-left:4px;
	margin-bottom:2px;
}
.col1of3nb h4{
	font-family: 'Open Sans',sans-serif;
	font-size: 12px;
	color:#9b5816;
	font-weight:600;
	padding-left:4px;
	margin-bottom:2px;
}
.col1of3nbR img{
	width:50%;
}

.colright{
	width:20%;
	float:left;
	margin-top:-80px;
	background-color:#fff;
}
.colmidl ul{
	list-style-type:disc;
	font-size: 13px;
	color:#a34500;
	padding-left:10px;
	margin-left:8px;
}
.colmidlli{
	font-family: 'Open Sans',sans-serif;
	font-size: 12px;
	color:#333;
}
.colmidllia{
	font-family: 'Open Sans',sans-serif;
	font-size: 12px;
	color:#00F;
	font-weight: bold;
	line-height:36px;
	margin-left:10px;
}
.colmidllia:hover{
	color:#4d070f;
	text-decoration:underline;
}
.redheader {
    font-weight: bold;
    color: #a34500;
    text-decoration: none;
}
<!--table-->

#viewTable{
	margin-top:10px;
}
#viewTable td{
    border-top-width: 1px;
    border-right-width: 1px;
	border-left-width:1px;
    border-top-style: solid;
    border-right-style: solid;
	border-left-style:solid;
    border-top-color: #CCCCCC;
    border-right-color: #CCCCCC;
	border-left-color:#CCCCCC;
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
}
#viewTable table{
border-bottom-width: 1px;
border-left-width: 1px;
border-bottom-style: solid;
border-left-style: solid;
border-bottom-color: #CCCCCC;
border-left-color: #CCCCCC;
font-family: 'Open Sans',sans-serif;
font-size: 12px;
}


#viewTable table th {
    border-top-width: 1px;
    border-right-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-top-color: #CCCCCC;
    border-right-color: #CCCCCC;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    background-color: #aa6726;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight:600;
    color: #FFFFFF;
    text-decoration: none;
    text-align: left;
	height:21px;
}

.tablebg {
    border-top-width: 1px;
    border-right-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-top-color: #CCCCCC;
    border-right-color: #CCCCCC;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    background-color: #EEE3D5;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight:600;
    color: #333;
    text-decoration: none;
    text-align: left;
	height:21px;
}
#nboder{
font-family: 'Open Sans',sans-serif;
font-size: 14px;
color:#000;
margin-left:5%;
}
.nbodertb{
	padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
	height:30px;
}
.tblh{
	width:100%;
	font-family: 'Open Sans',sans-serif;
	background-color:#aa6726;
	color:#fff;
	padding-left:4px;
	height:20px;
}
.tblt{
	font-family: 'Open Sans',sans-serif;
	color:#333;
	height:20px;
	padding-left:4px;
}
.tblcoltotal{
	width:100%;
	float:left;
}
.tblcol1{
	width:28%;
	float:left;
}
.tblcol2a{
	width:70%;
	float:left;
}
.tblcol2{
	width:20%;
	float:left;
}
.tblcol3{
	width:50%;
	float:left;
}
.tblcol1h{
	width:100%;
	font-family: 'Open Sans',sans-serif;
	font-size: 12px;
	font-weight:600;
	color:#a34500;
	padding-left:4px;
	height:20px;
}
.plantlcol{
	font-family: 'Open Sans',sans-serif;
	font-size: 12px;
	font-weight:600;
	color:#a34500;
	padding-left:4px;
	margin-top:2px;
	margin-bottom:0;
}
.plantrcol{
	width:30%;
	font-family: 'Open Sans',sans-serif;
	font-size: 12px;
	font-weight:600;
	color:#a34500;
	text-align:center;
	padding-left:4px;
	height:20px;
}
.plantrcol img{
	width:60%;
	text-align:center;
	border: #680000 solid 1px;
}
.tblcol2h{
	width:100%;
	font-family: 'Open Sans',sans-serif;
	font-size: 12px;
	font-weight:600;
	color:#333;
	padding-left:4px;
}
.tblcol2t{
	font-family: 'Open Sans',sans-serif;
	font-size: 12px;
	color:#333;
	padding-left:4px;
	margin-bottom:2px;
}
.tblcol2t a{
	font-family: 'Open Sans',sans-serif;
	font-size: 12px;
	color:#9b5816;
	padding-left:4px;
	margin-bottom:2px;
}
.subhead2{
	font-family: 'Open Sans',sans-serif;
	font-weight:600;
	font-size: 12px;
	color:#333;
	padding-left:4px;
	margin-bottom:2px;
}

.tblcol2tr{
	font-family: 'Open Sans',sans-serif;
	font-size: 12px;
	color:#333;
	margin:0 2px;
	text-align:right;
}
.tblcol2trB{
	font-family: 'Open Sans',sans-serif;
	font-size: 12px;
	color:#333;
	font-weight:600;
	margin:0 2px;
	text-align:right;
}
.note{
	font-family: 'Open Sans',sans-serif;
	font-size: 12px;
	color:#333;
	text-align:justify;
}

.pdf{
 padding-left:50%;
	
	}
	
.ulli {
	color: #000;
	font-size: 12px;
	font-weight: normal;
}

.redheaderBig {
    color: #a34500;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.orangetext {
    color: #bf6413;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
}

/* #region MySection */
table tbody tr th {
	background-color: #935116 !important;
	color: #FFFFFF !important;
}

table tbody tr.tablebg th {
	background-color: #EEE3D5 !important;
	color: #333 !important;
}
/* #endregion */